/* h1{
    background-color: aqua;
} */

#firstId{
    background-color: pink;
}



/* #firstId{
    background-color: green;
    background-color: wheat;
} */
/* 
h2{
    background-color: aquamarine !important;
} */

/*
.classA{
    background-color: green;
}

li{
    background-color: green;
} */

/* h1{
    background-color: pink;
} */

