.container{
    height: 400px;
    width: 400px;
    font-size: 50px;
    background-color: aqua;
}


/* @media screen and (max-width:900px) {
    .container{
        background-color: green;
        font-size: 40px;
    }
}


@media screen and (max-width:600px) {
    .container{
        background-color: pink;
        font-size: 30px;
    }
} */



@media screen and (min-width:600px) {
    .container{
        background-color: orange;
        font-size: 60px;
    }
}

@media screen and (min-width:900px) {
    .container{
        background-color: green;
        font-size: 80px;
    }
}